{% extends 'base.html.twig' %}

{% block title %}Hello DefaulltController!{% endblock %}

{% block body %}
    using default colours =
    {% if default_colours %}
        yes
    {% else %}
        no
    {% endif %}
    <ul>
        {% for property, colour in colours %}
            <li>
                {{ property }} = {{ colour }}
            </li>
        {% endfor %}
    </ul>

<p>
    Hello World
</p>
{% endblock %}
